/* Add new font from file */
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-black;
  src: url(fonts/Roboto/Roboto-Black.ttf);
}

* {
  font-family: roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
    display: flex;
    height: 50px;
    background-color: #1F2937;
    padding: 0 140px 0 140px;
    
}

.header-logo {
  flex: 0 0 auto;
}

.header-links {
    display: flex;
    margin-left: auto;
    align-self: center;
    gap: 20px;
    
}

.header-links li {
    list-style: none;
}

.header-links li a {
    text-decoration: none;
    color: aliceblue;
    
}

.container-head {
  display: flex;
  padding: 80px 140px 80px 140px;
  background-color: #1F2937;
  justify-content: space-between;
}

.container-head h1 {
  font-family: roboto-black;
  width: 300px;
  font-weight: bold;
  color: aliceblue;
  margin-bottom: 8px;
}

.container-head p {
  color: aliceblue;
  width: 350px;
}