/* Add new font from file */
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-black;
  src: url(fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-italic-light;
  src: url(fonts/Roboto/Roboto-LightItalic.ttf);
}

/* @media only screen and (max-width: 768px) {
  .container-head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
} */

* {
  font-family: roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  height: 50px;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 0 18% 0 18%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-logo {
  flex-grow: 0;
  width: 50px;
}

.header-links {
  display: flex;
  align-self: center;
  gap: 20px;
}

.header-links li {
  list-style: none;
}

.header-links li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}

.container-head {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2937;
  justify-content: center;
  padding: 100px 10% 100px 10%;
  flex-shrink: 1;
  gap: 100px;
  
}

.container-head h1 {
  font-family: roboto-black;
  width: 550px;
  font-weight: bold;
  color: aliceblue;
  font-size: 38px;
}

.container-head p {
  color: aliceblue;
  width: 400px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.header-img img {
  width: 400px;
}

.container-head-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-head-left button {
  background-color: #3882f6;
  color: aliceblue;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  border-radius: 8px;
  width: auto;
  font-size: 28px;
  margin-top: 10px;
}

.container-head-left p {
  gap: 10px;
  font-size: 18px;
  width: 550px;
}

.container-head-left a {
  width: 50px;
}

.mid-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 0;
}

.mid-img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.img-container-mid {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 200px;
  font-size: 20px;
}

.img-container-mid img {
  max-width: 200px;
  border: 5px solid #3882f6;
  border-radius: 10%;
  margin-bottom: 15px;
}

.mid-title {
  text-align: center;
}

.mid-container h2 {
  padding-bottom: 50px;
  font-size: 36px;
  font-family: roboto-black;
  color: #1f2937;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20% 80px 20%;
  background-color: #e5e7eb;

}

.quote-container p {
  align-self: center;
  font-size: 36px;
  font-family: roboto-italic-light;
  color: #1f2937;
  max-width: 650px;
}

.quote-container span {
  margin-left: auto;
  
}

.sign-up-container {
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
}

.sign-up-card {
  background-color: #3882f6;
  display: flex;
  padding: 40px 100px 40px 100px;
  border-radius: 8px;
  min-width: 400px;
}

.sign-up-button-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.sign-up-text {
  color: antiquewhite;
  font-size: 18px;
}

.sign-up-text h4 {
  font-size: 24px;
}

.sign-up-button-container button {
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 8px;
  border: 3px wheat solid;
  flex-shrink: 0;
  padding: 5px 25px 5px 25px;
  font-weight: bold;
}