/* Add new font from file */
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-black;
  src: url(fonts/Roboto/Roboto-Black.ttf);
}

* {
  font-family: roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
    display: flex;
    height: 50px;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.header-logo {
  
  flex-grow: 0;
  width: 215px;
}

.header-links {
    display: flex;
    align-self: center;
    gap: 20px;
    
}

.header-links li {
    list-style: none;
}

.header-links li a {
    text-decoration: none;
    color: aliceblue;
    
}

.container-head {
  display: flex;
  /* padding: 80px 180px 80px 180px; */
  background-color: #1F2937;
  justify-content: space-between;
  padding: 0 10% 0 10%;

}

.container-head h1 {
  font-family: roboto-black;
  width: 300px;
  font-weight: bold;
  color: aliceblue;
  font-size: 40px;
}

.container-head p {
  color: aliceblue;
  width: 350px;
}

.header-img img {
  width: 400px;
}

.container-head-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-head-left button {
  background-color: #3882F6;
  color: aliceblue;
  padding: 5px 0 5px 0;
  font-weight: bold;
  border-radius: 8px;
  width: 100px
  
}